<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>system</label>
            <tab>advanced</tab>
            <resource>Codepeak_Cronwatch::config_codepeak_cronwatch</resource>
            <group id="cronwatch" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Cron watch</label>
                <field id="enabled" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <comment>If we should enable the module or not</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recipients" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label" type="text">
                    <label>Recipients</label>
                    <comment>Separate each e-mail address using a comma sign</comment>
                </field>
            </group>
        </section>
    </system>
</config>
